.App {
    display: block;
}

h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    color: #888;
    flex: 1;
}
