.row {
    display: flex;
    justify-content: center;
}

.button {
    margin: 10px;
    width: 50px;
    height: 40px;
    border-radius: 0;
    border: none;
    background: none;
    color: white;
    font-family: roboto, sans-serif;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    border: 2px solid #fe9241;
}

.equal {
    background-color: #fe9241;
    color: white;
    width: 100%;
}
